.app__footerOverlay {
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;

}

.app__footerOverlay-black {
    background: var(--color-black);

}

.app__footerOverlay-img {
    height: 75%;
}